ipch
.vs
*.db
*.opendb
*.aps
*.user
/OpenVR-SpaceCalibrator/x64/
/OpenVR-SpaceCalibratorDriver/x64/
/x64/
/lib/boost*
build
.idea

# Build output
01spacecalibrator/
CMakeFiles/
compile_commands.json
*.so
*.a
openvr-spacecalibrator
Makefile
*.cmake
CMakeCache.txt